<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="">
</head>
<body>
    <div data-air="main/hello"></div>

    <div data-air="body/hello"></div>

    <a href="#main/hello">Main</a>
    <a href="#body/hello">Body</a>

    <!-- Dependencies -->
    <script src="../dist/air.js"></script>

    <!-- Templates -->
    <script data-air="main/hello" type="text/template">
      <h1>Hello world</h1>
    </script>

    <script data-air="body/hello" type="text/template">
        <% for(var i=0; i<10; i++) { %>
            <span>Lorem ipsum</span>
        <% } %>
    </script>

    <!-- Source -->
    <script src="todoList.js"></script>
</body>
</html>
