<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>QUnit Example</title>
    <link rel="stylesheet" href="qunit-1.16.0.css">
</head>
<body>
    <div id="qunit"></div>
    <div id="qunit-fixture">
        <div data-dry="default"></div>
        <div data-dry="main/hello"></div>
        <div data-dry="body"></div>
    </div>

    <!-- Templates -->
    <script data-dry="default" type="text/template">
        <h1>Dry.js test page</h1>
        <a href="#main/hello">Main</a>
        <a href="#body">Body</a>
    </script>

    <script data-dry="main/hello" type="text/template">
        <h2>Hello!</h2>
    </script>

    <script data-dry="body" type="text/template">
        <% for(var i=0; i<10; i++) { %>
            <span>Lorem ipsum</span>
        <% } %>
    </script>

    <!-- Dependencies -->
    <script src="../dist/dry.js"></script>
    <script src="jquery-1.11.1.min.js"></script>
    <script src="qunit-1.16.0.js"></script>
    <script src="tests/TestConfig.js"></script>
    <script src="tests/AppTests.js"></script>
    <script src="tests/UtilitiesTests.js"></script>
</body>
</html>
